body,
html {
  width: 100%;
  height: 100%;
}

#wrapper .content {
  width: 1000px;
  height: 100%;
  margin: auto;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#wrapper .header {
  width: 100%;
  height: 88px;
}

#wrapper .header .content {
  border-bottom: 3px solid #43a41b;
}

#wrapper .header .content .logo {
  width: 210px;
  height: 100%;
  margin-left: 12px;
}

#wrapper .header .content .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#wrapper .nav {
  width: 100%;
  height: 500px;
  margin: 20px 0 10px 0;
}

#wrapper .nav .content {
  background-image: url(../images/dlimg1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#wrapper .nav .content .main {
  width: 374px;
  height: 458px;
  background: #f7f8f8;
  float: right;
  margin: 30px 40px 0 0;
  border: 2px solid #dcdddd;
}

#wrapper .nav .content .main .main1 {
  width: 310px;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

#wrapper .nav .content .main .main1 h2 {
  font-size: 18px;
  color: #59576e;
  line-height: 18px;
  margin: 17px 0 30px 0;
}

#wrapper .nav .content .main .main1 .main2 {
  position: relative;
}

#wrapper .nav .content .main .main1 .main2 input {
  width: 100%;
  height: 30px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #aaaaaa;
}

#wrapper .nav .content .main .main1 .main2 i {
  display: block;
  width: 22px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  color: #7fb814;
  cursor: pointer;
  display: none;
}

#wrapper .nav .content .main .main1 #btn1 {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  text-align: right;
  line-height: 14px;
}

#wrapper .nav .content .main .main1 #btn1 a {
  color: #aaaaaa;
}

#wrapper .nav .content .main .main1 #btn1 a:hover {
  text-decoration: underline;
  color: #7fb814;
}

#wrapper .nav .content .main .main1 .main3 input {
  width: 100%;
  height: 30px;
  border: 1px solid #cccccc;
  margin: 6px 15px 0px 0;
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  color: #aaaaaa;
}

#wrapper .nav .content .main .main1 .miam {
  height: 40px;
  padding-left: 5px;
  margin: 15px 0 0 0;
}

#wrapper .nav .content .main .main1 .main4 {
  overflow: hidden;
  border-bottom: 1px dashed #aaaaaa;
}

#wrapper .nav .content .main .main1 .main4 .span1 {
  display: block;
  width: 190px;
  height: 30px;
  background: #7fb814;
  border-radius: 5px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  float: left;
  color: #ffffff;
  cursor: pointer;
}

#wrapper .nav .content .main .main1 .main4 .span2 {
  display: block;
  width: 100px;
  height: 30px;
  float: right;
  background: #dadada;
  color: #479202;
  font-size: 18px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 27px;
  cursor: pointer;
}

#wrapper .nav .content .main .main1 .main5 {
  font-size: 16px;
  color: #595757;
  line-height: 12px;
  margin: 15px 0 20px 0;
}

#wrapper .nav .content .main .main1 .main6 {
  width: 100%;
  height: 120px;
  background: #43a41b;
  background-image: url(../images/dlimg2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#wrapper .footer {
  width: 100%;
  height: 120px;
  background: #efefef;
  overflow: hidden;
  border-bottom: 30px solid #43a41b;
}

#wrapper .footer p {
  color: #606060;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
}

#wrapper .footer .p1 {
  margin: 30px 0 18px 0;
}

#wrapper .footer .p2 {
  margin-bottom: 15px;
}

#wrapper .footer .p3 {
  height: 20px;
}

#wrapper .footer .p3 span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/beian.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#wrapper .footer .p3 a:hover {
  text-decoration: underline;
}

#wrapper .footer .p3 a {
  color: #606060;
}
