html,
body {
    width: 100%;
    height: 100%;
}

.wei {
    width: 1000px;
    margin: auto;

    .header_b {
        width: 1000px;
        height: 95px;
        // background: pink;

        .logo_a {
            width: 210px;
            height: 80px;
            // background: gold;
            float: left;
            margin-top: 7px;
            background-image: url(../images/logo.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .tu {
            width: 643px;
            height: 38px;
            float: right;
            // background: blue;
            margin-top: 30px;
            background-image: url(../images/jindu);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }

    .trip {
        height: 36px;
        margin: 4px 0px 8px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e6e6e6;
        // background: pink;


        .tr_1 {
            height: 36px;
            line-height: 36px;
            float: left;
            margin-right: 30px;
            font: 20px "Microsoft YaHei";
            color: #606060;
            line-height: 36px;
        }

        .tr_2 {
            // width: 168px;
            height: 36px;
            // background: blue;
            float: left;
            font-size: 12px;
            color: #666;
            line-height: 36px;

            .kua {
                display: inline-block;
                width: 132px;
                height: 28px;
                padding: 0 17px 0 5px;
                line-height: 28px;
                background: #fff;
                border: 1px solid #ccc;
                cursor: pointer;

            }
        }

        .tr_3 {
            float: right;
            margin-top: 8px;

            a {
                color: #666;
                font-size: 12px;
            }

            a:hover {
                text-decoration: underline;
            }
        }

    }

    .nav_a {
        width: 1000px;
        height: 34px;
        line-height: 34px;
        border-bottom: 2px solid #e6e6e6;

        .ua {
            width: 166px;
            height: 100%;
            float: left;

            li {
                width: 100%;
                height: 100%;
                color: #7abd54;
                border-bottom: 2px solid #7abd54;
                text-align: center;
                cursor: pointer;
            }
        }

        .clear {
            width: 300px;
            height: 100%;
            // background: #7abd54;
            float: right;

            .fl {
                font-size: 12px;
                line-height: 34px;
                color: #606060;

                i {
                    font-size: 14px;
                    color: red;
                }
            }

            a {
                display: block;
                width: 60px;
                height: 26px;
                text-align: center;
                line-height: 26px;
                background: red;
                color: #fff;
                margin-left: 15px;
                font-size: 14px;
                float: right;
            }
        }
    }

    .order {
        width: 100%;
        height: auto;
        // background: pink;
        margin-top: 15px;

        .top_a {
            width: 100%;
            height: 30px;
            // background: #7abd54;

            .top_1 {
                width: 494px;
                height: 100%;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                color: #606060;
                float: left;
            }

            .top_2 {
                width: 90px;
                height: 100%;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                color: #606060;
                float: left;
            }

            .top_3 {
                width: 130px;
                height: 100%;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                color: #606060;
                float: left;
            }

            .top_4 {
                width: 90px;
                height: 100%;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                color: #606060;
                float: left;
            }

            .top_5 {
                width: 106px;
                height: 100%;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                color: #606060;
                float: left;
            }
        }

        .tip {
            text-align: right;
            color: red;
            font-size: 12px;
            line-height: 34px;
        }

        .con {
            width: 100%;
            // height: 354px;
            overflow: hidden;
            border: 1px solid #ccc;
            border-top: 0;

            .con_top {
                padding: 0 5px;
                height: 24px;
                border-top: 1px solid #ccc;
                background-color: #ccc;
                line-height: 24px;
                color: #606060;
                font-size: 12px;
            }

            .con_zhu {
                width: 100%;
                height: 91px;
                background: #fcfcfc;
                border-top: 1px solid #ccc;
                // background: #7abd54;
                padding: 15px 0 0 20px;
                box-sizing: border-box;

                .con_l {
                    width: 492px;
                    height: 100%;
                    // background: pink;
                    float: left;

                    input {
                        float: left;
                        margin: 30px 15px 0 15px;
                    }

                    img {
                        width: 60px;
                        height: 60px;
                        border: 1px solid #DCDDDD;
                        float: left;
                        margin-right: 15px;
                        cursor: pointer;
                    }

                    .wen {
                        width: 330px;
                        float: left;


                        a {
                            color: #606060;
                            font-size: 12px;
                        }

                        a:hover {
                            color: #7abd54;
                            text-decoration: underline;
                        }

                    }
                }

                .con_2 {
                    width: 90px;
                    float: left;
                    text-align: center;
                    color: #3c3c3c;
                    font-size: 12px;
                    padding-top: 32px;
                }

                .con_3 {
                    width: 110px;
                    padding: 32px 0 0 20px;
                    float: left;

                    .jian {
                        width: 21px;
                        height: 21px;
                        background: rgba(204, 204, 204, 0.767);
                        float: left;
                        text-align: center;
                        line-height: 21px;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    .text1 {
                        width: 34px;
                        height: 21px;
                        float: left;
                        margin: 0 5px 0 5px;
                        display: block;
                        color: #595757;
                        text-align: center;
                        border: #e6e6e6 1px solid;
                    }


                    .jia {
                        width: 21px;
                        height: 21px;
                        background: rgba(204, 204, 204, 0.767);
                        float: left;
                        text-align: center;
                        line-height: 21px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

                .con_4 {
                    width: 90px;
                    padding-top: 32px;
                    color: #999;
                    float: left;
                }

                .con_5 {
                    width: 90px;
                    padding-top: 32px;
                    float: left;
                    text-align: center;
                    color: red;
                }

                .con_6 {
                    width: 80px;
                    height: 60px;
                    padding-top: 20px;
                    float: left;

                    p {
                        text-align: center;

                        a {
                            text-align: center;
                            color: #3c3c3c;
                            font-size: 12px;
                        }
                    }

                    .shou:hover a {
                        text-decoration: underline;
                        color: red;
                    }

                    .shan:hover a {
                        text-decoration: underline;
                        color: #7abd54;
                    }
                }
            }
        }

        .mai {
            width: 100%;
            height: 186px;
            // background: #7abd54;
            margin-bottom: 100px;

            .mai_l {
                width: 465px;
                height: 140px;
                // background: pink;
                float: left;

                .mai_a {
                    width: 220px;
                    height: 60px;
                    line-height: 60px;
                    color: #606060;
                    font-size: 12px;

                    a {
                        color: #606060;
                        font-size: 12px;
                        margin: 0 10px 0 10px;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }

                .mai_b {
                    a {
                        color: #e9001c;
                        font-size: 12px;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }

            .mai_r {
                float: right;
                width: 310px;
                margin-top: 18px;
                // height: 167px;
                // background: pink;

                .ra_1 {
                    text-align: right;
                    margin-right: 8px;
                    margin-top: 8px;
                    font-size: 12px;

                    span {
                        margin-left: 50px;
                        margin-right: 3px;
                        color: #e9001c;
                    }
                }

                .ra_2 {
                    text-align: right;
                    margin-right: 8px;
                    margin-top: 8px;
                    font-size: 12px;

                    .ra2 {
                        color: #e9001c;
                    }
                }

                .ra_3 {
                    text-align: right;
                    margin-right: 8px;
                    margin-top: 8px;
                    font-size: 12px;
                }

                .money {
                    width: 100%;
                    height: 86px;
                    margin-top: 8px;
                    // background: #7abd54;
                    border-top: 1px solid #cccccc;

                    .total {
                        font-size: 12px;
                        color: #606060;

                        .jianshu {
                            font-size: 14px;
                            color: #e9001c;
                        }

                        .yinfu {
                            margin-left: 50px;
                        }

                        .jiege {
                            font-size: 16px;
                            color: #e9001c;
                            margin-left: 50px;
                        }
                    }

                    .poh {
                        width: 170px;
                        height: 36px;
                        text-align: center;
                        color: #fff;
                        background: #e9001c;
                        line-height: 36px;
                        float: right;
                        cursor: pointer;
                        margin-top: 25px;
                    }

                    .poh:hover {
                        background: #e98400a2;
                    }
                }
            }
        }
    }

    .wei {
        margin-top: 80px;
        margin-bottom: 50px;
        width: 100%;
        height: 60px;
        // background: #7abd54;

        .p1 {
            color: #606060;
            font-size: 12px;
        }

        .p2 {
            color: #606060;
            font-size: 10px;
        }
    }
}