@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
}

.content {
  width: 1210px;
  height: 100%;
  margin: auto;
}

.main_zhu {
  width: 100%;
}

.main_zhu .content {
  overflow: hidden;
}

.main_zhu .content .main_top {
  width: 1205px;
  margin: 15px 0 10px 5px;
}

.main_zhu .content .main_top a {
  color: #828282;
  font-size: 12px;
}

.main_zhu .content .main_top .current {
  color: #479202;
}

.main_zhu .content .tuan-in {
  width: 1210px;
  height: 494px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 22px 25px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 10px #b7b6b6;
  background: #fff;
}

.main_zhu .content .tuan-in .ran h2 {
  margin-bottom: 10px;
  font-size: 32px;
  color: #479202;
  font-family: "微软雅黑";
}

.main_zhu .content .tuan-in .ran .tuan-wen {
  font-size: 16px;
  color: #002200;
}

.main_zhu .content .tuan-in .ran .intro-info {
  margin: 5px 0 30px;
}

.main_zhu .content .tuan-in .ran .intro-info .con_a {
  overflow: hidden;
}

.main_zhu .content .tuan-in .ran .intro-info .con_a i {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../images/tu1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  margin: 0 5px 0 5px;
}

.main_zhu .content .tuan-in .ran .intro-info .con_a span {
  display: block;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  float: left;
  margin: 0 5px 0 5px;
}

.main_zhu .content .tuan-in .ran .intro-info .con_a i:nth-child(2) {
  background-image: url(../images/tu2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main_zhu .content .tuan-in .ran .intro-info .con_a i:nth-child(3) {
  background-image: url(../images/tu3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main_zhu .content .tuan-in .ran .intro-info .con_a .con_1 {
  float: right;
  font-size: 12px;
}

.main_zhu .content .tuan-in .ran .intro-info .con_a .con_1 b {
  color: #479202;
}

.main_zhu .content .tuan-in .ran .intro-con {
  width: 100%;
  height: 320px;
}

.main_zhu .content .tuan-in .ran .intro-con .fangda {
  width: 320px;
  height: 320px;
  float: left;
  background: #e7e7e7;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo {
  width: 828px;
  float: left;
  height: 100%;
  margin-left: 10px;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .p1 {
  padding-left: 115px;
  width: 460px;
  height: 52px;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .p1 .ab {
  font-size: 30px;
  color: #f97030;
  line-height: 52px;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .p1 .cd {
  font-size: 40px;
  color: #f97030;
  line-height: 52px;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo h3 {
  margin-bottom: 10px;
  text-align: right;
  font-size: 14px;
  color: #80b450;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo h4 {
  padding-left: 115px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  background: #80b450;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left {
  width: 712px;
  height: 170px;
  float: right;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l {
  width: 331px;
  height: 134px;
  background: #fff;
  float: left;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l .pa {
  margin-top: 20px;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l .pa .span_zuo {
  width: 26px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  font-size: 10px;
  background-image: none;
  background-color: #e6e6e6;
  color: #489102;
  display: inline-block;
  cursor: pointer;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l .pa #shuzi {
  width: 68px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: none;
  color: #489102;
  background: #e6e6e6;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l .pa .span_you {
  width: 26px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  font-size: 10px;
  background-image: none;
  background-color: #e6e6e6;
  color: #489102;
  display: inline-block;
  cursor: pointer;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l .pa span:hover {
  color: #fff;
  background: #489102;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l .di .pb {
  cursor: pointer;
  height: 26px;
  width: 94px;
  background-color: #ff7f26;
  color: #fff;
  font: 16px/24px "微软雅黑";
  padding: 10px 8px;
  text-align: center;
  margin-top: 42px;
  float: left;
  margin-right: 25px;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l .di .sao {
  border: 1px solid #ff7f26;
  height: 24px;
  width: 193px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  font: 16px/24px "微软雅黑";
  float: left;
  margin-top: 41px;
  color: #606060;
  position: relative;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l .di .sao .ia {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: middle;
  background-image: url(../images/ti.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_l .di .sao .ma {
  width: 140px;
  height: 150px;
  background-image: url(../images/ma.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -172px;
  left: 0;
  display: none;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_r {
  width: 230px;
  height: 70px;
  float: right;
  margin-top: 30px;
  color: #535353;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_r .pc {
  color: #535353;
  font-size: 12px;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_r .pc span {
  color: #535353;
  font-size: 12px;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_r .pc .aa {
  margin-left: 100px;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_r .tiao {
  width: 100%;
  height: 8px;
  background: #80b450;
  margin: 5px 0 5px 0;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mga .mg_r h5 {
  font-size: 12px;
  color: #535353;
}

.main_zhu .content .tuan-in .ran .intro-con .intzuo .mg-left .mg_z {
  width: 265px;
  height: 30px;
  background-color: #e6e6e6;
  font-size: 14px;
  color: #666;
  line-height: 30px;
  text-align: center;
}

.ka {
  margin-top: 20px;
  height: 750px;
}

.ka .content .zou_a {
  width: 998px;
  float: left;
}

.ka .content .zou_a .xuan {
  width: 998px;
  height: 38px;
}

.ka .content .zou_a .xuan li {
  float: left;
  height: 36px;
  padding: 0 0 0 20px;
  line-height: 38px;
  border-top: 2px solid #fff;
  color: #696969;
  cursor: default;
}

.ka .content .zou_a .xuan .cu {
  border-top: 2px solid #479202;
  padding: 0 20px;
  border-right: 1px solid #dfdfdf;
}

.ka .content .zou_a .xuan li:hover {
  color: #479202;
}

.ka .content .zou_a .neia {
  width: 100%;
  height: 700px;
}

.ka .content .zou_a .neia li {
  width: 100%;
  height: 100%;
  display: none;
}

.ka .content .zou_a .neia li:nth-child(1) {
  background-image: url(../images/a.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ka .content .zou_a .neia li:nth-child(2) {
  background-image: url(../images/b.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ka .content .zou_a .neia li:nth-child(3) {
  background-image: url(../images/c.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ka .content .yuo_a {
  width: 196px;
  height: 720px;
  float: right;
}

.ka .content .yuo_a .you_1 {
  width: 100%;
  height: 360px;
}

.ka .content .yuo_a .you_2 {
  width: 100%;
  height: 360px;
}
